<script
        type="application/javascript"
        src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"
></script>
<script>
    var config = {
        // https://mermaid.js.org/config/setup/README.html
        startOnLoad: true,
        theme: '{{ if site.Params.mermaid.theme }}{{ site.Params.mermaid.theme }}{{ else }}forest{{ end }}',
        align: '{{ if site.Params.mermaid.align }}{{ site.Params.mermaid.align }}{{ else }}center{{ end }}',
    };
    mermaid.initialize(config);
</script>